{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/static/assets/img/home/fav-icon.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Quality Urad dal manufacture in Andhra & Telanagana, India || Tenali Double Horse| Home</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static 'assets/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/lightbox.min.css' %}">
	<script src="{% static 'assets/js/lightbox-plus-jquery.min.js' %}"></script>
	

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css">
	<script src="https://kit.fontawesome.com/d4a0a8d161.js" crossorigin="anonymous"></script>

</head>

<body>

	<!-- Start Header Area -->
	<div class="d-flex justify-content-around top-header">
		<div class="header-marquee p-4" style="display: flex;justify-content: center;align-items: center;">
			<marquee behavior="" direction="left">
				Welcome!.... Proof of Quality Is On Tenali Double Horse
			</marquee>
		</div>
		<div>
			<a class="social-info"   href="tel:1800 270 567567"><i class="fas fa-phone-alt"></i>
				1800 270 567567
			</a>

			<a href = "mailto:exports@tenalidoublehorse.com" class="social-info">
				<i class="fas  fa-envelope" style="color: rgb(251, 248, 248) !important;"></i>
				exports@tenalidoublehorse.com
			</a>
		</div>
	</div>
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href=""><img src="{% static 'assets/img/home/tenali-double-horse-logo-250x73.png' %}" alt="" ></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Our Legacy</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/the-journey/">The Journey</a></li>
									<li class="nav-item"><a class="nav-link" href="/where-we-are/">Where We Are</a></li>
									<li class="nav-item"><a class="nav-link" href="/awards-recognitions/">Awards & Recognitions</a>
									</li>
									<li class="nav-item"><a class="nav-link" href="/csr-initiatives/">CSR Initiatives</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false">Products</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/tdh-products/">TDH Products</a></li>
									<li class="nav-item"><a class="nav-link" href="https://tdhfoodproducts.com/" target="_blank">TDHF Products</a>
									</li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="/news-room/">News Room</a></li>
							<li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!-- End Header Area -->


    

{% block content %}

{% endblock %}








    <!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="great-place-word">
			<img src="{% static 'assets/img/home/redesgin-great-place-work.png' %}" alt="">
		</div>
		<div class="container">
			<div class="footer-logo pb-3 pt-5">
				<a href="#"><img src="{% static 'assets/img/home/tdh-footer-logo-main.png' %}" alt="" width="210" height="80"></a>
			</div>
			<div class="row">
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us On Social Media</h6>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-social d-flex justify-content-start align-items">
									<a href="https://www.facebook.com/tenalidoublehorse"><i
											class="fa fa-facebook"></i></a>
									<a href="https://www.youtube.com/c/TenaliDoubleHorse"><i
											class="fa fa-youtube"></i></a>
									<a href="https://www.instagram.com/tenalidoublehorse/"><i
											class="fa fa-instagram"></i></a>
									<a href="https://twitter.com/tnldoublehorse"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com/company/tenalidoublehorse/"><i
											class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<p class="text-white know-more-text pt-2">
							Know More Information!
						</p>
						<!-- <button onclick="downloadBroacher()">Download PDF</button> -->
						<a class="order-btn " href="/downloadBroacher/" >DOWNLOAD BROCHURE</a>

					</div>

				</div>

				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Legal Links</h6>
						<!-- <p>Stay update with our latest</p> -->
						<ul class="newsletter-info">
							<li>
								<a href="#">Terms of Use</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="#">Shipping Policy</a>
							</li>
							<li>
								<a href="#">Refund Policy</a>
							</li>
							<li>
								<a href="#">Payment Services</a>
							</li>
						</ul>
						
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Quick Links</h6>
						<ul class="instafeeds newsletter-info">
							<li>
								<a href="#">Our Legacy</a>
							</li>
							<li>
								<a href="#">CSR Initiatives</a>
							</li>
							<li>
								<a href="#">Tdh Products</a>
							</li>
							<li>
								<a href="#">Tdh Food Products</a>
							</li>
							<li>
								<a href="#">Awards & Recognitions</a>
							</li>
							<li>
								<a href="#">Usa</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Reach Out To Us</h6>
						<ul class="instafeeds newsletter-info">
							<li>
								<a href="#">Call Us</a>
							</li>
							<li>
								<a href="#">Email</a>
							</li>
							<li>
								<a href="#">Locate</a>
							</li>

						</ul>
					</div>
				</div>

			</div>
			<hr style="border: 1px solid lightgray;">
			<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
				<div class="copy-right">
				<p class="footer-text1 text-white m-0 pb-5">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> Tenali Double Horse All rights reserved.
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
			<div class="down-to-top">
				<a class="back-to-top" href="#"><i class="fas fa-chevron-up"></i> </a>
			</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'assets/js/nouislider.min.js' %}"></script>
	<script src="{% static 'assets/js/countdown.js' %}"></script>
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
	
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'assets/js/gmaps.min.js' %}"></script>
	<script src="{% static 'assets/js/main.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>