{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- start banner Area -->
<section class="slider-area">
    <div class="container-fluid">
        <div class="row  align-items-center justify-content-start">
            <div class="active-banner-slider owl-carousel">
                <div class="banner-img">
                    <img class="img-fluid" src="{% static 'assets/img/banner/tdh-banner-new-uradgota.png' %}" alt="">
                </div>
                <!-- <div class="banner-img">
                    <img class="img-fluid" src="img/banner/barli.png" alt="">
                </div> -->
                <div class="banner-img">
                    <img class="img-fluid" src="{% static 'assets/img/banner/tdh-banner-new-uradgota.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!----start marquee section---->
<div class="second-marquee" style="display: flex;justify-content: center;align-items: center;">
    <marquee behavior="" width="97%" direction="left">
        We have recently introduced our products in UAE. For inquiries regarding exports, please reach out to us at
        1800 270 567 567 or email us at exports@tenalidoublehorse.com.
    </marquee>

</div>
<!----end marquee section---->

<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1-.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- Start about Area -->
<section class="areanameg pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center about-sec">
            <div class="col-lg-6 about-iframe-video">
                <iframe src="https://www.youtube.com/embed/6iYttZFN9KA?si=94PoTc_7oCcg4BCH"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-6 about-text-area my-auto ">
                <div class="px-2" style="text-align: center;">
                    <h2 class="head-title">About TDH</h2>
                    <p class="content-text">At <span class="span-text">Tenali Double Horse</span>, our journey began
                        in 2005 with a vision to bring excellence and trust to every household in <span
                            class="span-text">India</span>. Guided by our commitment to quality and customer
                        satisfaction, we have since become a trusted name that resonates with millions.</p>
                    <a class="genric-btn danger" href="#">READ OUR STORY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about Area -->

<!--Start Where Quality Area--->
<section class="quality-sec pt-5">
    <h2 class="head-title">Where Quality Meets Commitment</h2>
    <p class="content-text mx-auto">Experience the goodness of high nutritional value and affordability with  <span class="span-text">Tenali
        Double Horse.</span> Elevate your breakfast routine with our superior products.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5 animate__animated animate__fadeInLeft"
                style="animation-delay:2.5s;visibility: visibile;">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/Nutrional.png' %}" alt="" height="80">
                    </div>
                    <h2 class="head-title-1">High Nutritional Value</h2>
                    <p class="content-text">Rich in protein, fiber, and iron, is a nutritious choice for a balanced
                        diet, promoting overall health and well-being.</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5 animate__animated animate__fadeInRight"
                style="animation-delay:2.5s;visibility: visibile;">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/superior.png' %}" alt="" height="80">
                    </div>
                    <h2 class="head-title-1">Superior Quality</h2>
                    <p class="content-text">Delivering excellence in every bite, High-quality standards in
                        freshness, purity, and taste.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 mb-5 animate__animated animate__fadeInLeft"
                style="animation-delay:4s;visibility: visibile;">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/brand.png' %}" alt="" height="80">
                    </div>
                    <h2 class="head-title-1">Trusted Brand</h2>
                    <p class="content-text">Building trust with our customers by consistently delivering exceptional
                        quality and reliability.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mb-5 animate__animated animate__fadeInRight"
                style="animation-delay:4s;visibility: visibile;">
                <div class="single-features ">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/affordable-high.png' %}" alt="" height="80">
                    </div>
                    <h2 class="head-title-1">Affordable</h2>
                    <p class="content-text">Premium Urad Dal at Affordable Prices. Elevate your Daily Routine
                        without compromising quality: your satisfaction is our priority.</p>
                </div>
            </div>
        </div>

    </div>

</section>
<!--End Where Quality Area--->


<!-- Start Product slider Area -->
<section class="areanameg pb-5 pt-5">
    <h2 class="head-title">Discover Our Culinary Treasures</h2>
    <p class="content-text mx-auto">Indulge in a diverse range of superior quality products from <span class="span-text">Tenali Double
         Horse.</span> Explore the finest ingredients that perfectly elevate your meals, from staples to specialties.
    </p>
    <div class="container">
        <div class="row  align-items-center justify-content-start">
            <div class="top-product-slider owl-carousel">
                <div class="slider-item-card pt-3 pb-3">
                    <div class="single-product card p-4">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenali-double-horse-urad-gota.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center ">Premium Urad Gota 1Kg</h6>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="single-product.html" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item-card pt-3 pb-3">
                    <div class="single-product card p-4">
                        <img class="img-fluid" src="{% static 'assets/img/home/tdh-maharani-urad-dall.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center">High Protein Maharani Urad Gota 1KG</h6>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item-card pt-3 pb-3">
                    <div class="single-product card p-4">
                        <img class="img-fluid" src="{% static 'assets/img/home/tdh-urad-dall-green.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center text-center">Premium Urad Dall 1Kg</h6>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-item-card pt-3 pb-3">
                    <div class="single-product card p-4">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenali-double-horse-idly-rava.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center text-center">Premium idly Rava</h6>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Product slider Area -->


<!-- start Farmer section Area -->
<section class="farmer-sec section_gap bg-parallax section-padding"
    style="background-image: url(/static/assets/img/home/stats-tdh.png);">
    <h2 class="head-title text-white pt-4">Empowering Progress</h2>
    <p class="content-text text-white mx-auto">Explore the statistics that define Tenali Double Horse's journey.
        From years of excellence to a growing customer base, discover the metrics that highlight our commitment to
        quality and growth.
    </p>
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6 wow animate__animated animate__fadeInUp" style="animation-delay:8s;">
                <div class="farmer-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/medal.png' %}" alt="">
                    </div>
                    <h2>18</h2>
                    <p>Years of Experience</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6 wow animate__animated animate__fadeInUp" style="animation-delay:9s;">
                <div class="farmer-features ">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/globe.png' %}" alt="">
                    </div>
                    <h2>12</h2>
                    <p>Total countries</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6 wow animate__animated animate__fadeInUp" style="animation-delay:10s;">
                <div class="farmer-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/india.png' %}" alt="">
                    </div>
                    <h2>18</h2>
                    <p>States</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6 wow animate__animated animate__fadeInUp" style="animation-delay:11s;">
                <div class="farmer-features">
                    <div class="f-icon">
                        <img src="{% static 'assets/img/home/box.png' %}" alt="">
                    </div>
                    <h2 class="pt-4">9</h2>
                    <p>Products</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end Farmer section Area -->

<!-- Start Suma section Area -->
<section class="suma-area-sec pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 about-suma-img">
                <img src="{% static 'assets/img/home/suma-every-bite-section-tdh.png' %}" alt="" width="550">
            </div>
            <div class="col-lg-6 about-text-area my-auto ">
                <div class="px-2" style="text-align: center;">
                    <h2 class="head-title">Download Our Brochure</h2>
                    <p class="content-text">Delve into the essence of Tenali Double Horse with our comprehensive
                        company brochure. Uncover our heritage, products, and commitment to quality in this
                        informative guide.</p>
                    <a class="genric-btn danger text-center" href="#">DOWNLOAD BROCHURE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Suma section Area -->

<!-- Start uaeproduct slider Area -->
<section class="uaeproduct-sec pb-5 pt-5">
    <h2 class="head-title text-white">Our Journey to the UAE Market</h2>
    <p class="content-text text-white mx-auto">Witness our remarkable expansion as Tenali Double Horse ventures
        into the
        UAE Experience the flavor of Tradition and Quality as we introduce our products to a new audience
        specialties.
    </p>
    <div class="container">
        <div class="row  align-items-center justify-content-start">
            <div class="top-product-slider owl-carousel">
                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenalidoublehorse-dubai-Chana-dall.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center pt-5">Chana Dall 500g</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenalidoublehorse-dubai-Moong-dall.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center pt-5">Moong Dall 500g</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenalidoublehorse-dubai-toor-dall.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center pt-5">Toor Dall 1kg</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenalidoublehorse-dubai-Urad-dall.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center pt-5">Urad Dall 1kg</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenalidoublehorse-dubai-Urad-gota.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center pt-5">Urad Gota 1kg</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item-card">
                    <div class="uae-product">
                        <img class="img-fluid" src="{% static 'assets/img/home/tenali-double-horse-dubai-sunnundalu.png' %}" alt="">
                    </div>
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <h3 class="card-title text-center text-center pt-5">Rishika Sunnundalu 200g</h3>
                            <p class="card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                                Mollitia deleniti itaque, voluptates ipsum fugit ab?</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">

                                    <a href="" class="social-info">
                                        <span class="lnr ti-bag"></span>
                                        <p class="hover-text">Shop Now</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End uaeproduct slider Area -->

<!-- Start Ammamma section Area -->
<section class="Ammamma-area-sec pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 about-suma-img order-lg-1 order-2">
                <img src="{% static 'assets/img/home/amm.png' %}" alt="" width="550">
            </div>
            <div class="col-lg-6 about-text-area my-auto order-lg-2">
                <div class="px-1">
                    <h2 class="head-title">Dosa-Idly Batter</h2>
                    <p class="content-text">At <span class="span-text">Tenali Double Horse</span>, we're excited
                        about collaboration with Ammamma's to bring you the delicious flavors of tradition.
                        Ammamma's Dosa Batter was made with the fantastic <span class="span-text"> Tenali Double
                            Horse Urad Gota</span>, which is about purity, quality, and a proud heritage.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Ammamma section Area -->

<!-- Start Cooking section Area -->
<section class="cooking-area-sec pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 about-text-area my-auto ">
                <div class="px-1">
                    <h2 class="head-title">Cooking Tips</h2>
                    <p class="content-text">The mix of <span class="span-text"> Tenali Double Horse Urad Gota
                        </span> and Idly Ravva is like magic for making fluffy idlis. The Urad Gota, when ground
                        carefully, gives a rich taste, blending perfectly with the slightly grainy feel of the Idly
                        Rava. These idlis strike a great balance, being both fluffy and a bit grainy, making each
                        bite super enjoyable. The combo not only makes them tasty but also brings together different
                        textures in a lovely way. It's a special mix that turns these idlis into a delicious treat,
                        showing off the goodness of using Tenali Double Horse ingredients for a fantastic eating
                        experience.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 about-suma-img">
                <img src="{% static 'assets/img/home/idley.png' %}" alt="" width="550">
            </div>
        </div>
    </div>
</section>
<!-- End Cooking section Area -->

<!-- Start Campaigns section Area -->
<section class="Campaigns-area-sec pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 order-lg-1 order-2">
                <video width="100%" height="100%" controls poster="{% static 'assets/img/home/phire-se-uddan.jpg' %}">
                    <source src="{% static 'assets/img/home/phir-se-udan-event-womenempowerment-women.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="col-lg-6 about-suma-img my-auto order-lg-2">
                <div class="px-2" style="text-align: center;">
                    <h2 class="head-title">Explore Our Recent Campaigns</h2>
                    <p class="content-text"><span class="span-text">Phir Se Udaan</span> is an initiative by your
                        favourite <span class="span-text">Tenali Double Horse</span> with a vision of empowering
                        women inside and outside the house. Tenali Double Horse offers only the best quality and
                        nutrition-packed range of Dals and Instant foods like Idli and Dosa mixes.
                    </p>
                    <a class="genric-btn danger" href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Campaigns section Area -->



<!-- Start Testimonial slider Area -->
<section class="testimonial-sec pb-5 pt-5">
    <h2 class="head-title">Customer Testimonials</h2>
    <p class="content-text mx-auto">Discover the experiences that define Tenali Double Horse through the words
        of our valued customers. Read their authentic feedback and join the chorus of satisfied voices.
    </p>
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="testimonial-slider-sec owl-carousel">
                <div class="testimonial-item-card p-4">
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <p class="card-text text-justify pb-5">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Minima, alias numquam. Laborum quasi tempora dolores, quidem natus, ut
                                inventore veritatis, libero placeat fuga fugit obcaecati ducimus nobis error omnis.
                                Veniam?</p>
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>

                        </div>
                        <h3 class="title">-Kammari Mahender</h3>
                    </div>

                </div>
                <div class="testimonial-item-card p-4">
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <p class="card-text text-justify pb-5">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Minima, alias numquam. Laborum quasi tempora dolores, quidem natus, ut
                                inventore veritatis, libero placeat fuga fugit obcaecati ducimus nobis error omnis.
                                Veniam?</p>
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                        </div>
                        <h3 class="title">-Rajagopal Akuthota</h3>
                    </div>
                </div>
                <div class="testimonial-item-card p-4">
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <p class="card-text text-justify pb-5">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Minima, alias numquam. Laborum quasi tempora dolores, quidem natus, ut
                                inventore veritatis, libero placeat fuga fugit obcaecati ducimus nobis error omnis.
                                Veniam?</p>
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                        </div>
                        <h3 class="title">-Jabeen Kouser</h3>
                    </div>
                </div>
                <div class="testimonial-item-card p-4">
                    <div class="single-product card p-4">
                        <div class="product-details">
                            <p class="card-text text-justify pb-5">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Minima, alias numquam. Laborum quasi tempora dolores, quidem natus, ut
                                inventore veritatis, libero placeat fuga fugit obcaecati ducimus nobis error omnis.
                                Veniam?</p>
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                        </div>
                        <h3 class="title">-Ravi Kumar</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial slider Area -->




{% endblock %}