{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
    style="background-image: url(/static/assets/img/tdh-products/tenali-double-horse-products-banner.png);">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!---product details section start---->
<section class="products-details-sec pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 product-slider-item owl-carousel my-auto">
                <img src="{% static 'assets/img/product-details/uradagota-sample-1.png' %}" alt="">
                <img src="{% static 'assets/img/product-details/uradagota-sample-2.png' %}" alt="">
                <img src="{% static 'assets/img/product-details/uradagota-sample-3.png' %}" alt="">
                <img src="{% static 'assets/img/product-details/Tenali-Double-Horse-Urad-Gota-300x300.png' %}" alt="">
            </div>

            <div class="col-lg-8">
                <div class="products-head d-flex align-items-center justify-content-between">
                    <h2 class="product-title">Premium Urad Gota 1Kg</h2>
                    <!-- <i class="fas fa-heart"></i> -->
                </div>
                <div class="ct-rating-wrapper">
                    <div class="ct-rating">
                        <i class="fas fa-star active"></i>
                        <i class="fas fa-star active"></i>
                        <i class="fas fa-star active"></i>
                        <i class="fas fa-star active"></i>
                        <i class="fas fa-star active"></i>
                    </div>
                </div>
                <p class="pt-3">Round Urad Gota is the choicest, procured from the best farms and fields in the country
                    and packed under hygienic conditions.</p>

                <div class="product-variations">
                    <div class="product-size-wrapper">
                        <div class="ct-rating">
                            <img src="{% static 'assets/img/product-details/no-colora.png' %}" alt="">
                            <img src="{% static 'assets/img/product-details/no-presivatives.png' %}" alt="">
                            <img src="{% static 'assets/img/product-details/food-safaty.png' %}" alt="">
                            <img src="{% static 'assets/img/product-details/100p-Natural.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <h4 class="pt-5"><strong>About this item</strong></h4>
                <p><strong>Brand:</strong> Tenali Double Horse</p>
                <p><strong>Item Weight :</strong> 1 Kilograms</p>
                <p><strong>Variety:</strong> Lentils</p>
                <p><strong>Container Maximum Shelf Life:</strong> 4 Months</p>
                <a class="genric-btn danger" href="#">ORDER NOW</a>
            </div>

            <div class="pt-5">
                <a class="btn button-click">Description</a>
                <p class="pt-4">Urad Gota is used for preparing idly, dosa, vada, and other Indian recipes. It is a
                    protein-rich food, and its quality is determined by the softness of the batter and the taste of the
                    recipe. Tenali Double Horse Urad Gota is the best choice as it is procured from the best farmers and
                    fields across India. It is processed in hygienic conditions and packed in sustainable packing
                    punches to ensure that the freshness lasts for a long time.</p>
            </div>
        </div>

        <h2>You might also like</h2>

        <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="single-product single-item-details card p-3">
                        <img class="img-fluid"
                            src="{% static 'assets/img/product-details/Tenali-Double-Horse-Urad-Gota-300x300.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center">Premium Urad Gota 1Kg</h6>
                            <div class="ct-rating-wrapper">
                                <div class="ct-rating text-center">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                </div>
                            </div>
                            <p class="card-text text-justify">Round Urad Gota is the choicest, procured from the best farms and fields in the country and packed under hygienic conditions.</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="/product-details/" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <!-- <a href="" class="social-info">
                                <span class="lnr ti-bag"></span>
                                <p class="hover-text">Shop Now</p>
                            </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4"> 
                    <div class="single-product single-item-details card p-3">
                        <img class="img-fluid"
                            src="{% static 'assets/img/product-details/Tenali-Double-Horse-Urad-Dall-300x300.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center">High Protein Tenali Maharani Urad Gota 1kg</h6>
                            <div class="ct-rating-wrapper">
                                <div class="ct-rating text-center">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                </div>
                            </div>
                            <p class="card-text text-justify">Round Urad Dall is the choicest, procured from the best farms and fields in the country and packed under hygienic conditions.</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="/product-details/" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <!-- <a href="" class="social-info">
                                <span class="lnr ti-bag"></span>
                                <p class="hover-text">Shop Now</p>
                            </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="single-product single-item-details card p-3">
                        <img class="img-fluid"
                            src="{% static 'assets/img/product-details/Tenali-Double-Horse-Urad-Dal-300x300.png' %}" alt="">
                        <div class="product-details">
                            <h6 class="card-title text-center">Premium Urad Dall 1kg</h6>

                            <div class="ct-rating-wrapper">
                                <div class="ct-rating text-center">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                </div>
                            </div>
                            
                            <p class="card-text text-justify">Urad Dall is the choicest, procured from the best farms and fields in the country and packed under hygienic conditions.</p>
                            <div class="d-flex justify-content-center">
                                <div class="prd-bottom ">
                                    <a href="/product-details/" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                    <!-- <a href="" class="social-info">
                                <span class="lnr ti-bag"></span>
                                <p class="hover-text">Shop Now</p>
                            </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>



    </div>
</section>
<!---product details section end---->

{% endblock %}