{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb"
    style="background-image: url(/static/assets/img/tdh-products/tenali-double-horse-products-banner.png);">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!--- Start products section----->
<div class="section countries-products-sec pt-5" style="background-color: #fff7ef;">
    <div class="container">
        <div class="row products-countries-sec owl-carousel">
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/india.png' %}" alt="">
                <h5>India</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/usa.png' %}" alt="">
                <h5>USA</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Uae.png' %}" alt="">
                <h5>UAE</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Qatar.png' %}" alt="">
                <h5>Qatar</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/SouthAfrica.png' %}" alt="">
                <h5>South Africa</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/ghana.png' %}" alt="">
                <h5>Ghana</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/seychelles.png' %}" alt="">
                <h5>Seychelles</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Singapore.png' %}" alt="">
                <h5>Singapore</h5>
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Paris.png' %}" alt="">
                <h5>Paris</h5>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Uk.png' %}" alt="">
                <h5>UK</h5>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Austraila.png' %}" alt="">
                <h5>Austraila</h5>
            </div>

            <div class="col-lg-4 col-sm-6">
                <img src="{% static 'assets/img/tdh-products/Europe.png' %}" alt="">
                <h5>Europe</h5>
            </div>
        </div>
    </div>
</div>

<!--- Start products section----->

<section>
    <div class="container products-nav-tabs-sec">
        <ul class="nav nav-pills products-nav-list d-flex justify-content-center align-items-center pb-4 pt-5"
            role="tablist">
            <li class="nav-item">
                <a href="#consumerpacks" class="nav-link active" data-bs-toggle="pill">Consumer Packs</a>
            </li>

            <li class="nav-item">
                <a href="#bulkpacks" class="nav-link" data-bs-toggle="pill">Commercial Packs</a>
            </li>
        </ul>

        <div class="tab-content pb-5">
            <div id="consumerpacks" class="container tab-pane active">
                <div class="row">
                    {% for i in consumer_items %}
                    <div class="countries-products col-lg-4 col-sm-12">
                        <div class="product-items-info">
                            <div class="single-product card p-4">
                               <a href="/product-details/{{i.Slug}}"> <img class="img-fluid"
                                    src="{{i.Image2.url}}"
                                    alt=""></a>
                                <div class="product-details">
                                   <a href="/product-details/{{i.Slug}}"> <h6 class="card-title text-center">{{i.Title}}</h6></a>
                                    <p class="card-text text-justify">{{i.Short_desc}}</p>
                                    <div class="d-flex justify-content-center">
                                        <div class="prd-bottom ">
                                            <a href="/product-details/{{i.Slug}}" class="social-info" >
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                            <a href="{{i.Upload_url}}" class="social-info">
                                                <span class="lnr ti-bag"></span>
                                                <p class="hover-text">Shop More</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div id="bulkpacks" class="container tab-pane">
                <div class="row">
                    {% for info in comercial_items %}
                    <div class="countries-products col-lg-4 col-sm-12">
                        <div class="product-items-info">
                            <div class="single-product card p-4">
                                <a href="/product-details/{{info.Slug}}"><img class="img-fluid"
                                    src="{{info.Image1.url}}"
                                    alt=""></a>
                                <div class="product-details">
                                   <a href="/product-details/{{info.Slug}}"><h6 class="card-title text-center">{{info.Title}}</h6></a>
                                    <p class="card-text text-justify">{{info.Short_desc}}</p>
                                    <div class="d-flex justify-content-center">
                                        <div class="prd-bottom ">
                                            <a href="/product-details/{{info.Slug}}" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                            <a href="/product-details/{{info.Slug}}" class="social-info">
                                                <span class="lnr ti-bag"></span>
                                                <p class="hover-text">Shop Now</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!---- End products section ---->
{% endblock %}