{% extends 'uifiles/base.html' %}
{% load static %}

{% block content %}



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<!-- <div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div> -->
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	   <!----Start Subpages Section----->
	   <div class="container-fluid submenu-section bg-danger">
        <div class="sub-pages-menu">
            <ul class="d-flex justify-content-around align-items-center p-3">
                <li>
                    <a href="/the-journey/">The Journey</a>
                </li>
                <li>
                    <a href="/where-we-are/">Where We Are</a>
                </li>
                <li>
                    <a href="/awards-recognitions/">Awards & Recognitions</a>
                </li>
                <li>
                    <a href="/csr-initiatives/">CSR Initiatives</a>
                </li>
            </ul>
        </div>

    </div>
    <!-----End Subpages section----->



	<!-- Start About section Area -->
	<section class="cooking-area-sec pb-5 pt-5">
		<div class="container">
			<div class="about-slider owl-carousel">
				<div class="item item-bg-color p-3">
					<div class="row">
						<div class="col-sm-12 col-lg-6 my-auto">
							<h2 class="head-title">PASSING THE TORCH</h2>
							<p class="content-text">Sri Krishnamurthy's legacy continued through his son, Sri Munagala
								Mohan Shyam Prasad, driving our swift growth. Outstanding response led to South India's
								first 1-kg urad dall consumer pack by Shri Shyam Prasad.
							</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<img src="{% static 'assets/img/about/slider-2.png' %}" alt="">
						</div>
					</div>

				</div>
				<div class="item item-bg-color p-3">
					<div class="row">
						<div class="col-sm-12 col-lg-6 my-auto">
							<h2 class="head-title">EXPANDING HORIZONS</h2>
							<p class="content-text">New infrastructure led to our second mill, the Maharani Dal Mill,
								addressing the challenging consumer market. Tireless work by the Tenali Double Horse
								team secured successful product placement, initially in general trade and later in
								modern trade outlets.
							</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<img src="{% static 'assets/img/about/slider-3.png' %}" alt="">
						</div>
					</div>

				</div>

				<div class="item item-bg-color p-3">
					<div class="row">
						<div class="col-sm-12 col-lg-6 my-auto">
							<h2 class="head-title">GOING GLOBAL</h2>
							<p class="content-text">Tenali Double Horse's high-yield Urad Dall earned consumer
								affection. Partnerships with influential brand ambassadors, like our IPL partnership
								with Sunrisers Hyderabad, expanded our global presence, attracting distributors and
								consumers from the US, UK, Singapore, and Australia, fueling growth.
							</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<img src="{% static 'assets/img/about/slider-4.png' %}" alt="">
						</div>
					</div>

				</div>

				<div class="item item-bg-color p-3">
					<div class="row">
						<div class="col-sm-12 col-lg-6 my-auto">
							<h2 class="head-title">THE BEGINING</h2>
							<p class="content-text">Tenali Double Horse, renowned for high-quality dals and ready-to-eat
								products, started in 2005 when Shri Munagala Krishnamurthy planted a seed in Tenali,
								Andhra Pradesh. His care nurtured Sri Krishnamurthy's Mahendra Dall Mill, supplying
								premium urad dall in 50-kilogram packs.
							</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<img src="{% static 'assets/img/about/slider-1.png' %}" alt="">
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- End About section Area -->


	<!--Start History section Area -->
	<section class="history-area-sec pb-5 pt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-6 history-card history-card-two animate__animated animate__fadeInRight ">
					<div class="history-area-one p-3 rounded-3  content-shadow">
						<h2 class="head-title">Our History</h2>
						<p class="content-text">From the very start, the entire Tenali Double Horse team has always been
							focused on fanatically serving our consumers. We believe the only way to be successful is to
							truly understand the market requirements and provide the products our consumers need and
							cherish.</p>
						<p class="content-text">Now we have grown to a huge team of service personnel working out of our
							headquarters in Tenali. By staying humble and focused on bringing the heart to quality, we
							are encouraging more online business owners to make their impact every day.</p>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6 history-card-two animate__animated animate__fadeInLeft">
					<div class="history-area-one p-3 rounded-5 content-shadow">
						<h2 class="head-title">Our Core Values</h2>
						<p class="content-text">We strongly believe that commitment and loyalty are primary work ethics.
							And in its decades of service, these are what brought the Tenali Double Horse success
							without fail. As a result, Tenali Double Horse stands committed to serving its consumers
							with products of the highest quality and keeps striving to exceed their expectations and
							remain their favorite choice forever.</p>
						<p class="content-text">A higher amount of dedication and commitment is shown towards our team,
							which consists of hundreds of employees, because of whom we are who we are today.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End History section Area -->


	<!--Start Tradition Area--->
	<section class="tradition-sec pt-5 pb-5">
		<h2 class="head-title">Indulge in Tradition and Convenience</h2>
		<p class="content-para-text mx-auto">Explore TDH Foods, our renowned subsidiary brand known for iconic Sunnundalu and
			instant mixes like dosa, idly, and vada. Elevate your culinary journey with authentic flavors and easy
			preparation.
		</p>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12 tradition-img">
					<img src="{% static 'assets/img/about/tenali-double-horse-about-page-tdhf-section.png' %}" alt="" width="550">
				</div>

				<div class="col-lg-6 col-sm-12">
					<h2 class="head-title">About TDHFood Products</h2>
					<p class="content-text">TDH Foods is a sister company to Tenali Double Horse that started on
						the core principle of selling the healthiest foods in their purest form without adding any
						preservatives. Everything that is made is of the highest quality, and there are no second
						guesses about our authenticity. We assure you that you’ll only have the best—so good that
						there’s no turning back! It’ll make you crave more and be hooked on our products!</p>
					<a class="genric-btn danger tdh-food-about-btn" href="#">VIEW MORE</a>
				</div>
			</div>

		</div>

	</section>
	<!--End Tradition Area--->



	<!-- start Farmer section Area -->
	<section class="farmer-sec section_gap bg-parallax section-padding"
		style="background-image: url(/static/assets/img/about/stats-tdh.png);">
		<h2 class="head-title text-white pt-4">Empowering Progress</h2>
		<p class="content-para-text text-white mx-auto">Explore the statistics that define Tenali Double Horse's journey.
			From years of excellence to a growing customer base, discover the metrics that highlight our commitment to
			quality and growth.
		</p>
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="farmer-features wow animate__animated animate__fadeInUp"
					data-wow-delay="0.4s" style="visibility:visible;animation-delay: 0.4s;">
						<div class="f-icon">
							<img src="{% static 'assets/img/about/medal.png' %}" alt="">
						</div>
						<h2>18</h2>
						<p>Years of Experience</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="farmer-features wow animate__animated animate__fadeInUp"
					data-wow-delay="0.6s" style="visibility:visible;animation-delay: 0.6s;">
						<div class="f-icon">
							<img src="{% static 'assets/img/home/globe.png' %}" alt="">
						</div>
						<h2>12</h2>
						<p>Total countries</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="farmer-features wow animate__animated animate__fadeInUp"
					data-wow-delay="0.8s" style="visibility:visible;animation-delay: 0.8s;">
						<div class="f-icon">
							<img src="{% static 'assets/img/home/india.png' %}" alt="">
						</div>
						<h2>18</h2>
						<p>States</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="farmer-features wow animate__animated animate__fadeInUp"
					data-wow-delay="0.9s" style="visibility:visible;animation-delay: 0.9s;">
						<div class="f-icon">
							<img src="{% static 'assets/img/home/box.png' %}" alt="">
						</div>
						<h2 class="pt-4">9</h2>
						<p>Products</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end Farmer section Area -->


	<!--Start whywork with us Area--->
	<section class="whywork-sec pt-5 pb-5">
		<h2 class="head-title">Why we Work With us ?</h2>
		<p class="content-para-text mx-auto">At Teanli Double Horse Our Journey Begins in 2005 with avision to bring
			excellence and trust to every Household in india Guided by our commitment to quality and customer
			Satisfication , we have since Become a trusted name that resonates with millions</p>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12 whyworkwithus-video">
					<video width="100%" height="100%" controls poster="{% static 'assets/img/about/great-place-to-work-team-work.jpg' %}">
						<source src="{% static 'assets/img/about/great-place.mp4' %}" type="video/mp4">
					</video>
				</div>

				<div class="col-lg-6 col-sm-12 px-2">
					<h2 class="head-title pt-5">Nurturing Growth, Collaboration, and Fulfillment</h2>
					<p class="content-text mx-auto">At Tenali Double Horse, our journey is defined not only by our
						products but also by our people. We take immense pride in fostering a work environment that is
						more than just a workplace; it's a space where creativity, innovation, and camaraderie flourish.
						As a testament to our commitment to our employees, we are honored to be recognized as a 'Great
						Place to Work.' This recognition reflects our dedication to creating an atmosphere where talent
						is nurtured, diversity is celebrated, and personal growth is encouraged.</p>
				</div>
			</div>

		</div>

	</section>
	<!--End why work with us Area--->

{% endblock %}