{% extends 'uifiles/base.html' %}
{% load static %}

{% block content %}


    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb" style="background-image: url(/static/assets/img/where-we-are/where-we-are.png);">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <!-- <div class="col-first">
					<h1>Shop Category page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Fashon Category</a>
					</nav>
				</div> -->
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

	   <!----Start Subpages Section----->
	   <div class="container-fluid submenu-section bg-danger">
        <div class="sub-pages-menu">
            <ul class="d-flex justify-content-around align-items-center p-3">
                <li>
                    <a href="/the-journey/">The Journey</a>
                </li>
                <li>
                    <a href="/where-we-are/">Where We Are</a>
                </li>
                <li>
                    <a href="/awards-recognitions/">Awards & Recognitions</a>
                </li>
                <li>
                    <a href="/csr-initiatives/">CSR Initiatives</a>
                </li>
            </ul>
        </div>

    </div>
    <!-----End Subpages section----->


    <!----Start Global Area Section------>
    <section class="tradition-sec pt-5 pb-5">
        <h2 class="head-title">Global Presence</h2>
        <p class="content-text mx-auto">Explore our product availability across the globe. Use the interactive world map
            to select countries and regions, and find out where you can enjoy the taste of Tenali Double Horse.
        </p>
        <div class="container">
            <div class="row">

            </div>

        </div>

    </section>
    <!----End Global Area Section------>



{% endblock %}